

/*****************************************************Hero section Start******************************************************************************/
.hero-section {
  background-image: linear-gradient(rgba(0, 0, 5, 0.5), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/samith/image/upload/v1640679635/dl.beatsnoop.com-1640679579_axswl9.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 650px;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: left;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hero-section .hero-section-text {
  color: #fefefe;
  text-shadow: 1px 1px 2px #0a0a0a;
}
.hero-section h1{
    font-size: 90px;
    font-family: 'Source Code Pro', monospace;
}


/*****************************************************Hero section end******************************************************************************/





.filterDiv{
  display: none;
 }
 
 .show {
   display: block;
 }
 
 
 .open-button {
  background-color: rgb(91, 62, 221);
  color: rgb(255, 255, 255);
  padding: 16px 20px;
  border: none;
  font-size: 25px;
  cursor: pointer;
  padding: 20px;
 float: right;
z-index: 50000;
 right: 10px;
 bottom: 20px;
position: fixed;

 margin: 20px;
  border-radius: 20px;
}



.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 999999;
}

.form-container {
  max-width: 350px;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.form-container .btns {
  background-color: #04AA6D;
  color: white;
  font-size: 20px;
  padding: 16px 20px;
  border: 1px solid transparent;
  border-radius: 25px;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
 
}


.form-container .cancel {
  background-color: red;
}


.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.containers {
  width: 100%;
  display: flex;
  font-family: sans-serif;
  padding: 20px;
  align-items: center;
  justify-content: center;
}
.check-container {
  display: block;
  margin-bottom: 1rem;
  position: relative;
  user-select: none;
  cursor: pointer;
  font-size: 15px;
}



@media screen and (max-width: 800px) {
  .listOFbeach{
    display: grid;
    grid-template-columns: auto auto;
  }

}

@media screen and (max-width: 500px) {
  .listOFbeach{
    display: grid;
    grid-template-columns: auto
  }

}



 /* create By Samith lakshitha Bandara */







